* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */

}

.container {
    height: 60px;
    width: 100%;
    background-color: gray;

}

.box {
    background-image: url(asset/bg\ \(1\).jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    align-items: center;
    
}



.box1 {
    height: 80px;
    width: 100%;
    /* margin-top: 50px; */
    display: flex;
    background-color: transparent; 
    
    padding-left: 80px;
    padding-right: 80px;
}
.box2{
    height: 80px;
    width: 100%;
    
    background-color: transparent;
    
    padding-left: 50px;
}
.box2 img{
    width: 200px;
    height: 80px;
    background-color: transparent;
    
}

.card{ 
    background-color: transparent;
    color: white;
    display: flex;
    gap: 10px;
    padding-top: 20px;
    
}

.card select{
    height: 40px;
    width: 100pxs;
    background-color: transparent;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid white;
    color: white;
    
}

.card option{
    background-color:white;
    color: black;
}


.card button{
    background-color: transparent;
    width: 100px;
    height: 40px ;
    border-radius: 8px;
    background-color: red;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.box3{
    width: 100%;
    justify-content: center;
    text-align: center;align-items: center;
    
}



.box3 h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.box3 h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    font-size: 26px;
    font-weight: 600;

}

.box3 p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 550;
}
.box3 input{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.p input{
    width: 300px;
    height: 50px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    border:  2px solid black;
    color: white;
    
}
.p button{
    width: 200px;
    font-size: 30px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
}

.container{
    width: 100%;
    background-color: black;
    color: white;
    
}
.container h1{
    padding-top:20px ;
    padding-left: 50px;


}
.box00{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
}
.card{
    width: 200px;
    border-radius: 10px;

}

.card img{
    width: 100%;
    border-radius: 10px;
}

.ditail{
    background-color: black;
    color: white;
    padding-top: 50px;
}

.box4{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.info{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    background:linear-gradient(to bottom, #462472,#000000);
    
}
.info h2{
    font-size: 25px;
}

.info p{
    padding-top: 15px;
    font-size: 20px;
}

.Questions{
    background-color: black;
    color:white;
    gap: 20px;
    padding-top: 50px;
    
    
    
}
.box11{
    
    
    gap: 20px;
    width: 100%;
    
}
.box5{
    margin-top: 10px;
    height: 80px;
    width: 80%;
    margin-left: 120px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(72, 72, 72, 0.756);

}
.box5:hover{
    background-color: rgba(128, 128, 128, 0.895);
}
.box5 p{
    font-size: 30px;
    
}
.box5 i{
    font-size: 40px;
    
}
.input1{
    background-color: black;
    color: white;
    padding-top: 70px;
    text-align: center;
    font-size: 20px;

}
.inputtag{
    display: flex;
 padding-top: 20px;
    justify-content: center;
    gap: 20px;
}

.email{
 height: 50px;  
 font-size: 20px;   
 background-color: transparent;
 color: white;
 border-radius: 5px;
 width: 500px;
 padding-left:10px ;
 border: 1px solid white;
}
.btn{
  height: 50px;  
 font-size: 30px;   
 background-color: red;
 width: 200px;
 border-radius: 5px;
 color: white; 
 border: none;  
}

.footer{
    background-color: black;
    color: white;
    height: 300px;
padding-left: 50px;

}
.footer h2{
    padding-top:30px ;
    padding-left: 50px;

}

.ftr{
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
    gap: 180px;
}
.ftr1{
gap: 10px;
list-style: none;
gap: 50px;


}
.ftr1 a{
    padding-top: 10px;
    color: white;
    gap: 20px;
    font-size: 20px;
}
.ftr li{
    padding-top: 10px;
}